clientesDBSW/ClienteDBSW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://clientesDB.web.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax24="http://clientesDB.web.org/xsd" xmlns:ax21="http://sql.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://clientesDB.web.org">
    <wsdl:documentation>ClienteDBSW</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://clientesDB.web.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sql.java/xsd">
            <xs:import namespace="http://clientesDB.web.org"/>
            <xs:complexType name="SQLException">
                <xs:complexContent>
                    <xs:extension base="ns:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                            <xs:element minOccurs="0" name="nextException" nillable="true" type="ax21:SQLException"/>
                            <xs:element minOccurs="0" name="sQLState" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://clientesDB.web.org/xsd">
            <xs:complexType name="Cliente">
                <xs:sequence>
                    <xs:element minOccurs="0" name="emisor" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="monto" nillable="true" type="xs:float"/>
                    <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="numeroTarjeta" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax25="http://clientesDB.web.org/xsd" xmlns:ax23="http://sql.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://clientesDB.web.org">
            <xs:import namespace="http://sql.java/xsd"/>
            <xs:import namespace="http://clientesDB.web.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SQLException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SQLException" nillable="true" type="ax23:SQLException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResultadoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax24:Cliente"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getResultadoRequest"/>
    <wsdl:message name="getResultadoResponse">
        <wsdl:part name="parameters" element="ns:getResultadoResponse"/>
    </wsdl:message>
    <wsdl:message name="SQLException">
        <wsdl:part name="parameters" element="ns:SQLException"/>
    </wsdl:message>
    <wsdl:portType name="ClienteDBSWPortType">
        <wsdl:operation name="getResultado">
            <wsdl:input message="ns:getResultadoRequest" wsaw:Action="urn:getResultado"/>
            <wsdl:output message="ns:getResultadoResponse" wsaw:Action="urn:getResultadoResponse"/>
            <wsdl:fault message="ns:SQLException" name="SQLException" wsaw:Action="urn:getResultadoSQLException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClienteDBSWSoap11Binding" type="ns:ClienteDBSWPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getResultado">
            <soap:operation soapAction="urn:getResultado" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SQLException">
                <soap:fault use="literal" name="SQLException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ClienteDBSWSoap12Binding" type="ns:ClienteDBSWPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getResultado">
            <soap12:operation soapAction="urn:getResultado" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SQLException">
                <soap:fault use="literal" name="SQLException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ClienteDBSWHttpBinding" type="ns:ClienteDBSWPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getResultado">
            <http:operation location="ClienteDBSW/getResultado"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getResultado"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getResultado"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ClienteDBSW">
        <wsdl:port name="ClienteDBSWHttpSoap11Endpoint" binding="ns:ClienteDBSWSoap11Binding">
            <soap:address location="http://192.168.56.1:8080/axis2/services/ClienteDBSW.ClienteDBSWHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ClienteDBSWHttpSoap12Endpoint" binding="ns:ClienteDBSWSoap12Binding">
            <soap12:address location="http://192.168.56.1:8080/axis2/services/ClienteDBSW.ClienteDBSWHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ClienteDBSWHttpEndpoint" binding="ns:ClienteDBSWHttpBinding">
            <http:address location="http://192.168.56.1:8080/axis2/services/ClienteDBSW.ClienteDBSWHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
